<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <title>My Website - About</title>
</head>
<body>
    <h1>Jonell Nelson</h1>
    <img src="{{ url_for('static', filename='Jonell Deputy EAC.png') }}" alt="Your Image" />
    <p>Jonell Nelson is an aspiring software developer and a Sagicor Foundation Scholar, currently studying at The University of the West Indies, Mona. Passionate about enhancing Jamaica's tech industry, Jonell is recognized for their leadership skills and commitment to community engagement.</p>
</body>
</html>